.dialogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            'dialogItem message'
            'addPost addPost';

}

.messages {
    grid-area: message;
    padding: 10px;
}

.dialogsItems {
    grid-area: dialogItem;
    padding: 10px;
}

.dialogsItems .active {
    color: gold;

}

.textArea {
    background: #eaf2f1;
    border: none;
    padding: 5px;
    resize: none;
    width: 500px;
    height: 50px;
}

.addPost {
    grid-area: addPost;
    padding: 20px;
}