.container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.profileInfoWrapper {
    max-width: 750px;
    padding: 20px;
    background-color: #c8bada;
}

.profileInfoWrapper div {
    border-bottom: 1px solid #BBA9D1;
    padding: 0 0 10px;
}

.profileWrapper {
    display: flex;
}

.profileAvatarWrapper {
    padding: 20px;
    background-color: #c8bada;
    max-height: 270px;
}

.image {
    height: 200px;
    object-fit: cover;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.image:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.text {
    font-size: large;
    margin-left: 30px;
}

label {
    background-Color: #fff;
    border-Radius: 5px;
    text-Align: center;
    font-size: 15px;
}

.editProfile {
    margin-top: 5px;
    background-Color: #fff;
    border-Radius: 5px;
    border: none;
    font-family: inherit;
}

.profileDataFormInputs {
    outline: none;
    border: none;
}

.errorMessage {
    color: red;
}