.nav {
    grid-area: nav;
    background-color: #BBA9D1;
    padding: 20px;
    font-size: 20px;
    border-right: 1px solid #c8bada;
}

.item a {
    color: black;
    text-decoration: none;
    margin: 10px;
    font-size: larger;
    font-family: "Microsoft JhengHei Light";

}

.item:hover {
    background-color: #c8bada;
}

.item a.active {
    color: white;
    margin: 20px;
}